<div class="edit-inner">
  <form action="#" class="edit-form">
    <label for="firstname">Firstname</label><input type="text" class="firstname" value="<%= firstname %>">
    <label for="firstname">Lastname</label><input type="text" class="lastname" value="<%= lastname %>">
    <label for="firstname">Phone</label><input type="text" class="tel" value="<%= tel %>">
    <label for="firstname">Email</label><input type="text" class="email" value="<%= email %>">
  </form>
  <button class="save">SAVE</button>
  <button class="cancel">CANCEL</button>
</div>
